In [1]:
import pandas as pd
import numpy as np
import math as m

In [2]:
raw = pd.read_excel('./data/Project1_TimeSeries_Momentum_Due20200913.xlsx',sheet_name='AssetsPrices',header=1,index_col=0)
raw.head()

,SPX,RTY,NDX,HSI,SHCOMP,KOSPI,AS51,NKY,UKX,DAX,...,XAG,SPGSIC,BCOMAGTR,Unnamed: 45,Date.5,DJTMNSV,DJTMNSS,DJTMNQU,DJTMNMO,DJTMNAB
Date,,,,,,,,,,,,,,,,,,,,,
2020-09-03,5116.8833,2024.7572,13606.8502,50133.5269,4970.6946,3410.0675,18693.1125,31997.0577,11734.7990,13057.77,...,26.7650,474.90,81.5344,NaN,2020-09-03,778.8827,756.1106,1332.7567,1689.3710,1415.4106
2020-09-02,5315.6452,2083.9532,14429.5064,50330.7822,4999.8009,3365.1911,18504.3910,31699.2797,11905.6923,13243.43,...,27.4475,474.90,82.0455,NaN,2020-09-02,762.8788,750.3016,1339.8412,1739.5971,1426.7126
2020-09-01,5234.6629,2066.0030,14280.3457,50448.8686,5008.2960,3344.0979,18163.7383,31550.5407,11747.5763,12974.25,...,28.1110,474.39,82.0341,NaN,2020-09-01,756.8943,754.7892,1338.6816,1753.3207,1434.4132
2020-08-31,5195.4678,2044.0957,14068.4666,50401.4836,4986.3721,3310.8213,18477.5086,31552.8452,11951.0229,12945.38,...,28.1428,472.92,81.6514,NaN,2020-08-31,766.4813,753.5910,1337.0857,1724.4238,1430.9475
2020-08-30,5206.2849,2065.3187,13934.9229,50884.1399,4998.3106,3350.1469,18489.3103,31202.2559,11951.0229,13033.20,...,27.5030,472.92,81.3746,NaN,2020-08-30,779.8370,762.0217,1330.1691,1684.4050,1399.5379

In [3]:
use_cols = list(raw.columns)[0:15]  #currency: [31:36]
use_cols

['SPX',
 'RTY',
 'NDX',
 ' HSI ',
 'SHCOMP',
 'KOSPI',
 'AS51',
 'NKY',
 'UKX',
 'DAX',
 'FTSEMIB',
 'CAC',
 'M1IN',
 'M1RU',
 'M1BR']

In [4]:
df=raw[use_cols].sort_index()
df = df[df.index >= pd.to_datetime('2000-12-31')]
df = df[df.index.is_month_end]
df.head()

,SPX,RTY,NDX,HSI,SHCOMP,KOSPI,AS51,NKY,UKX,DAX,FTSEMIB,CAC,M1IN,M1RU,M1BR
Date,,,,,,,,,,,,,,,
2000-12-31,1328.1547,487.3475,2342.0320,15228.5770,2080.6260,504.6200,3281.4467,13820.9664,6222.5,6433.61,43662.0,5933.9508,100.00,100.00,NaN
2001-01-31,1375.2760,512.7057,2593.5051,16244.4792,2072.7279,617.9921,3420.7786,13880.0346,6297.5,6795.14,45067.0,6006.1124,108.79,119.41,NaN
2001-02-28,1249.8652,479.0561,1908.7791,14918.3968,1966.0143,578.1768,3419.3794,12920.2010,5917.9,6208.24,40036.0,5374.3006,104.83,109.40,NaN
2001-03-31,1170.6867,455.6206,1573.7061,12972.8235,2120.3623,523.2977,3260.3603,13082.8773,5633.7,5829.95,38996.0,5187.0329,86.35,108.55,NaN
2001-04-30,1261.6511,491.2525,1855.7614,13649.8878,2127.5874,578.3639,3452.0673,14023.4773,5966.9,6264.51,41121.0,5647.1969,84.39,118.39,NaN

# Assets Monthly returns

In [5]:
monthly_return = df.pct_change()
monthly_return = monthly_return[monthly_return.index > pd.to_datetime('2001-12-31')]
monthly_return.head()

,SPX,RTY,NDX,HSI,SHCOMP,KOSPI,AS51,NKY,UKX,DAX,FTSEMIB,CAC,M1IN,M1RU,M1BR
Date,,,,,,,,,,,,,,,
2002-01-31,-0.014584,-0.010400,-0.016995,-0.058778,-0.093748,0.078377,0.012277,-0.051547,-0.010082,-0.010172,-0.004518,-0.035184,0.017581,0.091348,NaN
2002-02-28,-0.019307,-0.027419,-0.123078,-0.022474,0.022149,0.096141,-0.010872,0.059317,-0.008291,-0.013417,-0.010910,0.000251,0.062615,-0.076393,NaN
2002-03-31,0.037609,0.080357,0.068861,0.062802,0.051987,0.093920,0.008211,0.045211,0.039088,0.071086,0.058422,0.050539,-0.006573,0.175378,NaN
2002-04-30,-0.060642,0.009112,-0.120907,0.045355,0.040380,-0.059448,-0.017806,0.042413,-0.018158,-0.065976,-0.035779,-0.045712,-0.043761,0.090786,NaN
2002-05-31,-0.007368,-0.044369,-0.053739,-0.012727,-0.089973,-0.054538,0.008942,0.023640,-0.013542,-0.044216,-0.071781,-0.031725,-0.063001,0.016477,NaN

# Asset return for the past 12 months

In [6]:
yearly_return = df.pct_change(periods=12)
yearly_return = yearly_return[yearly_return.index >= pd.to_datetime('2001-12-31')]
yearly_return.head()

,SPX,RTY,NDX,HSI,SHCOMP,KOSPI,AS51,NKY,UKX,DAX,FTSEMIB,CAC,M1IN,M1RU,M1BR
Date,,,,,,,,,,,,,,,
2001-12-31,-0.118904,0.024938,-0.326180,-0.224392,-0.198615,0.404958,0.114454,-0.229441,-0.161527,-0.197946,-0.259837,-0.214556,-0.198000,0.554500,NaN
2002-01-31,-0.161504,-0.035886,-0.401857,-0.315635,-0.270976,0.237130,0.082186,-0.272271,-0.179865,-0.248344,-0.286152,-0.251295,-0.249839,0.420735,NaN
2002-02-28,-0.095182,0.003543,-0.287315,-0.271550,-0.214381,0.449452,0.070858,-0.171835,-0.134494,-0.188324,-0.205215,-0.163066,-0.172756,0.432267,NaN
2002-03-31,0.002345,0.139952,-0.076045,-0.109693,-0.233699,0.751867,0.132309,-0.145156,-0.055295,-0.074213,-0.136347,-0.089025,-0.002316,0.696637,NaN
2002-04-30,-0.126325,0.066902,-0.311210,-0.115477,-0.205464,0.490843,0.050385,-0.168669,-0.124245,-0.195276,-0.210282,-0.201506,-0.023818,0.696849,NaN

In [7]:
# Since our momentum strategy make the decision based on the yearly return for the previous month, we build the look up yearly return by shift one month.
# for example: our decision for the monthly return end on 2002-01-31 is based on the yearly return end at 2001-12-31. 
look_up_yearl_return = yearly_return.shift().iloc[1:]
look_up_yearl_return.head()

,SPX,RTY,NDX,HSI,SHCOMP,KOSPI,AS51,NKY,UKX,DAX,FTSEMIB,CAC,M1IN,M1RU,M1BR
Date,,,,,,,,,,,,,,,
2002-01-31,-0.118904,0.024938,-0.326180,-0.224392,-0.198615,0.404958,0.114454,-0.229441,-0.161527,-0.197946,-0.259837,-0.214556,-0.198000,0.554500,NaN
2002-02-28,-0.161504,-0.035886,-0.401857,-0.315635,-0.270976,0.237130,0.082186,-0.272271,-0.179865,-0.248344,-0.286152,-0.251295,-0.249839,0.420735,NaN
2002-03-31,-0.095182,0.003543,-0.287315,-0.271550,-0.214381,0.449452,0.070858,-0.171835,-0.134494,-0.188324,-0.205215,-0.163066,-0.172756,0.432267,NaN
2002-04-30,0.002345,0.139952,-0.076045,-0.109693,-0.233699,0.751867,0.132309,-0.145156,-0.055295,-0.074213,-0.136347,-0.089025,-0.002316,0.696637,NaN
2002-05-31,-0.126325,0.066902,-0.311210,-0.115477,-0.205464,0.490843,0.050385,-0.168669,-0.124245,-0.195276,-0.210282,-0.201506,-0.023818,0.696849,NaN

In [8]:
assert monthly_return.shape == look_up_yearl_return.shape

# Momentum strategy monthly return

In [9]:
strategy = monthly_return[look_up_yearl_return >= 0]
strategy[look_up_yearl_return < 0] = - monthly_return[look_up_yearl_return < 0]
strategy.head()

,SPX,RTY,NDX,HSI,SHCOMP,KOSPI,AS51,NKY,UKX,DAX,FTSEMIB,CAC,M1IN,M1RU,M1BR
Date,,,,,,,,,,,,,,,
2002-01-31,0.014584,-0.010400,0.016995,0.058778,0.093748,0.078377,0.012277,0.051547,0.010082,0.010172,0.004518,0.035184,-0.017581,0.091348,NaN
2002-02-28,0.019307,0.027419,0.123078,0.022474,-0.022149,0.096141,-0.010872,-0.059317,0.008291,0.013417,0.010910,-0.000251,-0.062615,-0.076393,NaN
2002-03-31,-0.037609,0.080357,-0.068861,-0.062802,-0.051987,0.093920,0.008211,-0.045211,-0.039088,-0.071086,-0.058422,-0.050539,0.006573,0.175378,NaN
2002-04-30,-0.060642,0.009112,0.120907,-0.045355,-0.040380,-0.059448,-0.017806,-0.042413,0.018158,0.065976,0.035779,0.045712,0.043761,0.090786,NaN
2002-05-31,0.007368,-0.044369,0.053739,0.012727,0.089973,-0.054538,0.008942,-0.023640,0.013542,0.044216,0.071781,0.031725,0.063001,0.016477,NaN

# Calculate the calender year return

In [10]:
year = [str(i) for i in range(2002, 2021)]
All_annl_ret = pd.DataFrame()

for i in year:
    All_annl_ret[i] = (strategy.loc[i] + 1).prod() - 1 

All_annl_ret = All_annl_ret.transpose()
All_annl_ret

,SPX,RTY,NDX,HSI,SHCOMP,KOSPI,AS51,NKY,UKX,DAX,FTSEMIB,CAC,M1IN,M1RU,M1BR
2002,0.088434,0.279880,0.387414,0.142797,0.135255,-0.071996,0.051451,0.169137,0.232031,0.535081,0.264682,0.353556,0.222429,0.154326,0.000000
2003,0.019208,-0.086041,-0.014318,0.113109,-0.199595,-0.015477,0.009032,-0.166724,-0.008626,0.003490,0.020381,-0.058143,0.919416,0.140371,0.000000
2004,0.108757,0.182753,0.106847,0.171412,-0.074865,0.137561,0.295137,0.086359,0.112444,0.073369,0.188540,0.101350,0.191084,0.054620,0.000000
2005,0.049069,0.045117,-0.123204,0.084047,0.018237,0.567997,0.240955,0.278645,0.208053,0.270714,0.201198,0.269533,0.375694,0.700018,0.000000
2006,0.157767,0.183298,-0.024914,0.389660,0.988308,0.060301,0.254948,0.080900,0.144439,0.219786,0.209513,0.209697,0.510044,0.555970,0.000000
2007,0.055713,-0.014266,0.191648,0.433789,0.979663,0.237113,0.174193,-0.058043,0.073884,0.222892,-0.031965,0.041919,0.731106,0.245037,0.000000
2008,0.330330,0.385477,0.202456,0.055844,0.227160,0.213187,0.136177,0.516562,0.108632,0.048457,0.730014,0.198327,-0.159019,0.501275,0.000000
2009,-0.119551,-0.097311,-0.273061,-0.360089,-0.359757,-0.290330,-0.251316,-0.120017,-0.145776,-0.091792,-0.184650,-0.107100,-0.545699,-0.578876,0.000000
2010,0.150587,0.268146,0.200588,0.085812,-0.441488,0.235763,0.029409,-0.148346,0.126689,0.160599,-0.327295,-0.115950,0.209516,0.190655,0.000000
2011,0.021055,-0.293698,0.036123,-0.271779,-0.011050,-0.228118,-0.140106,-0.104074,-0.169795,-0.193300,-0.152196,-0.111474,-0.061607,-0.317564,-0.359504
2012,0.068127,0.051368,0.183478,-0.103584,-0.094842,-0.012624,0.026742,-0.029484,0.066475,-0.097605,0.004187,-0.053662,-0.332252,-0.249583,-0.079200
2013,0.323742,0.388219,0.369096,0.065616,0.069251,0.019623,0.219773,0.593699,0.186501,0.254817,-0.006969,0.222258,-0.396076,-0.092174,-0.058150
2014,0.136783,0.048962,0.193963,-0.021945,0.624548,-0.016952,0.071487,0.089566,0.007179,0.026527,0.029781,0.025418,0.048017,0.137143,-0.070510
2015,-0.143971,-0.044132,0.097507,-0.086906,0.111542,0.002824,0.100783,0.109935,-0.024950,0.095605,0.157532,0.119448,-0.055465,-0.141711,0.516565
2016,-0.020077,-0.020325,-0.143435,-0.130668,-0.303595,-0.057955,-0.028356,-0.324395,0.043638,-0.225592,-0.217988,-0.150836,-0.182770,0.186032,-0.466803
2017,0.218228,0.146277,0.329921,0.412730,0.049283,0.239290,0.134067,0.213360,0.119541,0.125126,0.244154,0.125445,0.271831,0.052043,0.241117
2018,-0.043918,-0.110274,0.000368,-0.170337,-0.044080,0.060109,-0.014635,-0.103034,0.009453,-0.031980,0.036292,0.054855,-0.245235,-0.003945,-0.524253
2019,0.050027,-0.222140,0.394574,-0.177570,-0.254777,0.020049,0.156804,-0.174382,-0.038051,-0.139648,-0.089326,-0.078987,-0.074335,0.128606,-0.065489
2020,-0.152004,-0.229791,0.395615,-0.070373,0.052084,0.117825,-0.367623,-0.268547,-0.072891,-0.374596,-0.382536,-0.358619,-0.521491,-0.490006,0.081224

# Calculate the annl. ret from 2002 to current

In [11]:
annl_ret = (strategy + 1).prod() ** (12 / strategy.notnull().sum()) - 1
annl_ret

SPX        0.061273
RTY        0.027359
NDX        0.117061
 HSI       0.007172
SHCOMP     0.018168
KOSPI      0.049376
AS51       0.043645
NKY        0.008230
UKX        0.046496
DAX        0.026007
FTSEMIB    0.008422
CAC        0.021704
M1IN      -0.026604
M1RU       0.005951
M1BR      -0.139521
dtype: float64

# Calculate the annl. vol over all years

In [12]:
annl_vol = strategy.std() * m.sqrt(12)
annl_vol

SPX        0.147493
RTY        0.196340
NDX        0.191802
 HSI       0.200580
SHCOMP     0.265143
KOSPI      0.191362
AS51       0.135978
NKY        0.188743
UKX        0.136465
DAX        0.202800
FTSEMIB    0.205038
CAC        0.172977
M1IN       0.279631
M1RU       0.318469
M1BR       0.340086
dtype: float64

# Calculate the Sharp ratio

In [13]:
sharpe_ratio = annl_ret / annl_vol
sharpe_ratio

SPX        0.415429
RTY        0.139345
NDX        0.610325
 HSI       0.035758
SHCOMP     0.068520
KOSPI      0.258025
AS51       0.320968
NKY        0.043605
UKX        0.340715
DAX        0.128239
FTSEMIB    0.041074
CAC        0.125474
M1IN      -0.095138
M1RU       0.018686
M1BR      -0.410253
dtype: float64